*,
::before,
::after {
    box-sizing: border-box;
}
body {
    background-color: black;
    min-height: 100vh;
    font-family: "Ubuntu",sans-serif;
    font-size: 14px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* navigasi */
.header-container {
    color: white;
    padding-inline: 2rem;
    position: sticky;
    top: 10px;
}
.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    border-radius: 20px;
    padding: 0.5rem;
}

.navbar-container .logo {
    max-height: 50px;
}

.navbar-togle{
    display: none;
    border: none;
    cursor: pointer;
    width: 50px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1em;
}

.navbar-container .logo {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-grow: 1 1;
}

.navbar-container .logo h3 {
    cursor: pointer;
    color: aqua;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.navbar-container .nav-list ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 2rem;
    padding-inline-start: 0%;
}

.navbar-container .nav-list ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.navbar-container .nav-list ul li a:hover {
    color: aqua;
    border-bottom: 1px solid aqua;
}

.navbar-container .hubungi-kami {
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    max-height: 40px;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
}

.navbar-container .hubungi-kami:hover{
    border-color: aqua;
    background-color: aqua;
    color: black;
}


/* main */
main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

/* Jumbotron */
.jumbotron {
    color: white;
}

.jumbotron .slide {
    display: none;
    align-items: center;
    padding-inline-start: 4rem;
}

.jumbotron .sliding {
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

@keyframes slide {
    from{
        opacity: .4;
        /* transform: translateX(100%); */
    }
    to {
        /* transform: translateX(0%); */
        opacity: 1;
    }
}

.jumbotron .slide img {
    max-width: 80%;
    max-height: 600px;
    flex: 1;
    object-fit: cover;
    object-position: center;
}

.jumbotron .slide .description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
    flex: 1 1;
}

.jumbotron .slide .description h4 {
    font-size: 3rem;
    font-weight: 600;
    color: aqua;
    margin-block-end: 0;
    margin-block-start: 0;
}

.jumbotron .slide .description p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;    
}

.jumbotron .slide .description .hubungi-kami {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    max-height: 40px;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
    max-width: 30%;
}

.jumbotron .slide .description .hubungi-kami:hover {
    border-color: aqua;
    background-color: aqua;
    color: black;
}

/* about */
.about {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about .about-title h3 {
    color: aqua;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

.about .about-description {
    display: flex;
    justify-content:space-around;
    padding-inline-start: 6rem;
    padding-inline-end: 6rem;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.about .about-description section {
    border: 2px solid aqua;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about .about-description section i {
    font-size: 4em;
    color: aqua;
}

.about .about-description section h4 {
    font-size: 1.2em;
    color: aqua;
    margin-bottom: 0;
}

.about .about-description section p {
    text-align: center;
    font-size: 1em;
}


/* jenis ikan cupang */
.jenis-cupang {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jenis-cupang .title-jenis h3 {
    color: rgba(255, 255, 255, 0.3);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 3rem;
    font-weight: 600;
    margin-left: 0;
}

.jenis-cupang .description {
    background-color: rgba(25, 25, 112, 0.2);
    border-left: 4px solid blue;
    border-radius: 10px;
    max-width: 1100px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    padding: 2em;
}

.jenis-cupang .description .description-title{
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1 1;
}

.jenis-cupang .description .description-title h3 {
    color: aqua;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.jenis-cupang .description .description-title p {
    font-size: 1em;
    line-height: 1.5em;
}

.jenis-cupang .description .description-title .hubungi-kami {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    max-height: 40px;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
    max-width: 50%;
}

.jenis-cupang .description .description-title .hubungi-kami:hover {
    border-color: aqua;
    background-color: aqua;
    color: black;
}

.jenis-cupang .img-jenis {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: auto;
}

.jenis-cupang .img-jenis .main-image-jenis {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

/* galeri */
.galeri {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 4rem;
    padding-inline-end: 4rem;
}

.galeri .main-galeri {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.galeri .galeri-title h3 {
    font-size: 2.5em;
    color: aqua;
    font-weight: 700;
    flex: 1;
}

.galeri .main-galeri .img-line-1, .img-line-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 2;
    gap: 2rem;
}

.galeri .main-galeri .img-line-1 .galeri-card, .img-line-2 .galeri-card {
    display: flex;
    border: 2px solid aqua;
    border-radius: 10px;
    padding: 2rem;
    min-width: 350px;
}

.galeri .main-galeri .img-line-1 .galeri-card .img-title, .img-line-2 .galeri-card .img-title {
    display: flex;
    flex-direction: column;
}

.galeri .main-galeri .img-line-1 .galeri-card .img-title h4, .img-line-2 .galeri-card .img-title h4 {
    color: aqua;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 0;
}

.galeri .main-galeri .img-line-1 .galeri-card .img-title p, .img-line-2 .galeri-card .img-title p {
    font-size: 1em;
}

.galeri .main-galeri .img-line-1 .galeri-card .img-title button, .img-line-2 .galeri-card .img-title button {
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    color: white;
    background-color: transparent;
    border: 2px solid aqua;
    border-radius: 10px;
    min-height: 2.5em;
    min-width: 60%;
    margin-top: 2em;
}

.galeri .main-galeri .img-line-1 .galeri-card .img-title button:hover, .img-line-2 .galeri-card .img-title button:hover {
    background-color: aqua;
    color: black;
    font-weight: bold;
}

.galeri .main-galeri .img-line-1 .galeri-card .img,  .img-line-2 .galeri-card .img {
    display: flex;
    align-self: center;
    justify-content: center;
}

.galeri .main-galeri .img-line-1 .galeri-card .img img,  .img-line-2 .galeri-card .img img {
    max-width: 80%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

/* shop */
.shop {
    padding-inline-start: 4rem;
    padding-inline-end: 4rem;
}

.shop .shop-container {
    color: white;
    display: flex;
    background-color: white;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 30px;
    gap: 2em;
}

.shop .shop-container .shop-title {
    background-color: rgb(85, 165, 235);
    border-radius: 20px;
    padding: 1em;
    display: flex;
    background-image: url(../img/Halfmoon\ rosetail.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 30%;
}

.shop .shop-container .shop-title h3 {
    font-size: 2.5em;
    color: white;
    font-weight: 700;
    align-self: center;
}

.shop .shop-container .product-card {
    display:  flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1em;
}

.shop .shop-container .product-card .shop-product {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 10px;
    max-width: 250px;
    height: auto;
    box-shadow: 1px 4px 2px 2px rgba(0,0,0,0.1);
}

.shop .shop-container .product-card .shop-product .product-desc {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title h4 {
    font-size: 1em;
    font-weight: 400;
    text-align: start;
    margin-left: 0.5em;
    margin-bottom: 0;
    color: rgb(95, 95, 95);
}

.shop .shop-container .product-card .shop-product .product-desc .product-title .reg-price {
    margin-left: 0.5em;
    font-weight: 700;
    font-size: 1.5em;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title .price {
    display: flex;
    gap: 1em;
    margin-left: 0.5em;
    justify-content: start;
    align-items: center;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title .price .badge-disc {
    background-color: red;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title .price .sale-price {
    color: gray;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 1.1em;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title button {
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    padding: 0.5em;
    width: 90%;
    background-color: black;
    color: white;
    align-self: center;
    border-radius: 5px;
}

.shop .shop-container .product-card .shop-product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title .shop-fitur, .delivere, .instant, .pickup {
    display: flex;
    font-weight: bold;
    justify-content: start;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title .delivere i {
    font-size:large;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title .delivere {
    background-color: rgb(85, 165, 235);
    color: white;
    padding: 0.2em;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    font-size: 0.8em;
    border-bottom-left-radius: 10px;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title .instant i {
    font-size:x-large;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title .instant {
    background-color: rgb(0, 184, 46);
    color: white;
    padding: 0.2em;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    font-size: 0.8em;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title .pickup i {
    font-size:x-large;
}

.shop .shop-container .product-card .shop-product .product-desc .product-title .pickup {
    background-color: rgb(235, 160, 0);
    color: white;
    padding: 0.2em;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    font-size: 0.8em;
    border-bottom-right-radius: 10px;
}


/* Article */
.article {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 2em;
    font-size: 1rem;
    padding-inline-start: 4rem;
    padding-inline-end: 4rem;
}

.article .article-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article .article-title button {
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    color: white;
    background-color: transparent;
    border: 2px solid aqua;
    border-radius: 10px;
    max-width: 60%;
    height: 50px;
}

.article .article-title button:hover {
    background-color: aqua;
    color: black;
    font-weight: bold;
}

.article .article-title h3 {
    color: aqua;
    font-size: 2.5em;
    font-weight: 700;
}

.article .main-article {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.article .main-article .main-article-card {
    border: 2px solid white;
    border-radius: 20px;
    padding: 1em;
    max-width: 40%;
    flex: 1 1;
}

.article .main-article .main-article-card img {
    max-width: 100%;
    border-radius: 20px;
}

.article .main-article .main-article-card .article-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article .main-article .main-article-card .article-description .article-title {
    color: aqua;
    font-size: 1.5em;
    font-weight: 500;
}

.article .main-article .main-article-card .article-description .article-title h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.article-category {
    background-color: aqua;
    border-radius: 10px;
    color: black;
    max-width: 20%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article .article-listing {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 1;
}

.article .article-listing .article-listing-card img {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
}

.article .article-listing .article-listing-card {
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 1em;
    max-height: 200px;
}

.article .article-listing .article-listing-card .listing-description {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.article .article-listing .article-listing-card .listing-description .listing-title h4 {
    color: aqua;
    font-size: 1.2em;
    font-weight: 500;
}

/* aside */

main aside {
    position: fixed;
    inset-block: 1;
    inset-inline-end: 0;
}

main aside .social-media {
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: white;
    justify-content: center;
    align-items: center;

    padding: 5px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

main aside .social-media.show {
    width: 300px;
}

main aside .social-media ul {
    padding: 1.5rem 1rem;
    margin: auto;
    background-color: white;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

main aside .social-media ul.aside-list.show {
    flex-direction: row;
    padding-bottom: 10px;
}

main aside .social-media li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;

    transition: all 0.1s ease-in-out;
}

main aside .social-media li a:hover{
    color: aqua;

}

main aside .social-media li{
    list-style-type: none;
}

main aside .social-media img {
    max-width:50px;
    height: auto;
}

main aside .social-media .img-author.show {
    max-width: 55%;
}

main aside .social-media .author-name,.account-name {
    display: none;
}

main aside .social-media .author-name.show,.account-name.show {
    display: block;
    margin-top: 0;
}

main aside .social-media .open {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 999px;
    cursor: pointer;
    border: none;
}

main aside .social-media .open:hover {
    background-color: aqua;
    color: black;
}

/* footer */
footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1000px) {
    /* navbar */
    .navbar-container .btn-tgl .navbar-togle {
        display: block;
    }
    .navbar-container .nav-list {
        display: none;
    }
    .navbar-container .hubungi-kami {
        display: none;
    }
    .navbar-container .nav-list.show {
        display: block;
    }
    .navbar-container .hubungi-kami.show{
        display: block;
    }
    .navbar-container {
        flex-direction: column;
        border-radius: 10px;
        gap: 1rem;
        padding-inline: 0;
    }

    /* jumbotron */
    .jumbotron .slide {
        flex-direction: column-reverse;
        padding-inline-start: 0;
    }
    .jumbotron .slide .description {
        align-items: center;
    }
    .jumbotron .slide .description img {
        flex-grow: 1;
    }
    .jumbotron .slide .description h4 {
        text-align: center;
        font-size: 1.8em;
    }
    .jumbotron .slide .description p {
        text-align: center;
        font-size: 1.2em;
    }
    .jumbotron .slide .description .hubungi-kami {
        font-size: 1.2em;
        max-width: 100%;
    }
    
    /* Jenis Ikan Cupang */
    .jenis-cupang {
        flex-direction: column;
        align-items: center;
    }
    .jenis-cupang .title-jenis h3 {
        writing-mode: horizontal-tb;
        transform: none;
        font-size: 1.8em;
        color: white;
    }
    .jenis-cupang .description {
        flex-direction: column-reverse;
    }
    .jenis-cupang .description .description-title h3{
        font-size: 1.8em;
        text-align: center;
    }
    .jenis-cupang .description .description-title p{
        text-align: center;
    }
    .jenis-cupang .description .description-title .hubungi-kami {
        max-width: 50%;
        font-size: 1em;
        align-self: center;
    }
    .jenis-cupang .img-jenis .main-image-jenis {
        max-width:100%;
        height: 350px;
    }

    /* galeri ikan cupang */
    .galeri .main-galeri .img-line-1, .img-line-2 {
        flex-wrap: wrap;
        align-items: start;
    }

    .galeri .galeri-title h3 {
        text-align: center;
        font-size: 1.8em;
    }

    /* shop */
    .shop {
        padding-inline-start: 0;
        padding-inline-end: 0;
    }
    .shop .shop-container {
        flex-wrap: wrap;
    }
    .shop .shop-container .product-card {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* article */
    .article {
        padding-inline-start: 0;
        padding-inline-end: 0;
    }
    .article .article-title h3 {
        font-size: 1.8em;
    }
    .article .article-title button {
        max-width: 50%;
        font-size: 1em;
        height: 40px;
        align-self: center;
    }
    .article .main-article {
        flex-direction: column;
    }
    .article .main-article .main-article-card {
        max-width: 100%;
    }
    .article .article-listing .article-listing-card .listing-description .listing-title h4 {
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 0;
    }
    .article .article-listing .article-listing-card .listing-description .article-category, .article-release-date {
        font-size: 0.8em;
    }
}

@media screen and (max-width : 1200px) {
    /* about */
    .about .about-description {
        flex-wrap: wrap;
        padding-inline-start: 0;
        padding-inline-end: 0;
    }
    .about .about-description section {
        min-width: 70%;
    }
    .about .about-title h3{
        font-size: 1.8em;
    }

    /* galeri ikan cupang */
    .galeri .main-galeri .img-line-1 .galeri-card, .img-line-2 .galeri-card {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 1em;
    }

    .galeri .main-galeri .img-line-1 .galeri-card .img-title h4, .img-line-2 .galeri-card .img-title h4 {
        text-align: center;
    }

    .galeri .main-galeri .img-line-1 .galeri-card .img-title p, .img-line-2 .galeri-card .img-title p {
        text-align: center;
    }
}

@media  screen  and (max-width : 800px) {
    .header-container .navbar-container .nav-list ul {
        flex-direction: column;
        align-items: start;
    }
    main aside {
        position: static;
        inset-block: auto;
        inset-inline-end: auto;
    }
    main aside .social-media {
        border-radius: 12px;
        flex-direction: column;
    }
    main aside .social-media .img-author {
        max-width: 40%;
    }
    main aside .social-media .author-name,.account-name {
        display: block;
        margin-top: 0;
    }
    main aside .social-media .aside-list {
        flex-direction: row;
    }
    main aside .social-media .open {
        display: none;
    }
}